{% extends "base.html.twig" %}
{% block title %}
    Accueil
{% endblock %}


{% block body %}
    <h1>Véhicules phares</h1>
    <hr>
    <div class="row">
        {% for product in products %}
            {% include "product/_product_card.html.twig" %}

        {% endfor %}

    </div>
{% endblock %}